* {
  box-sizing: border-box;
}

/*GENERAL*/
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.md-mrg-top {
  margin-top: 60px;
}

.lg-mrg-top {
  margin-top: 100px;
}

.xl-pad-bottom {
  padding-bottom: 160px;
}

img {
  border: 1px solid #FF6F59;
}

/*FONT*/
h1 {
  font-family: 'Source Code Pro', serif;
  font-size: 7em;
  margin: 60px 0px 0px 0px;
}
h2 {
  font-family: 'Scada', sans-serif;
  font-size: 4em;
  margin-bottom: 0px;
  text-align: center;
  /*color: #FF6F59;*/
}
p {
  font-family: 'Source Code Pro', serif;
  font-size: 1.2em;
}
h3 {
  font-family: 'Scada', sans-serif;
  font-size: 2.8em;
  margin-bottom: 20px;
  color: #FF6F59;
}

/*NAVIGATION*/
nav {
  background-color: #000;
}
.menu {
  display: flex;
  align-items: center;
  margin: 0px 5% 0px 5%;
  padding: 20px 0px;
  list-style: none;
}
.home {
  margin-right: auto;
}
.menu li {
  display: flex;
  align-items: center;
}

.home a, .projects-link a {
  text-decoration: none;
  font-family: 'Source Code Pro', serif;
}
.home a {
  color: white;
}
a {
  color: #FF6F59;
  text-decoration: none;
}

a {
  transition: 0.5s;
}

a:hover {
  color: #FF9383;
}

a:active {
  color: #FF4F3C;
}

/*WELCOME*/
.welcome-wrapper {
  width: 90%
}

.welcome-text {
  text-align: center;
}

.name {
  font-size: 2em;
  margin: 0px;
}
.title {
  font-family: 'Scada', sans-serif;
  font-size: 1.8em;
  margin: 10px 0px 80px 0px;
}

.welcome-buttons {
  display: flex;
  flex-direction: column;
}

.button {
  text-align: center;
  padding: 20px 0px;
  margin: 5px 0px;
  background-color: lightblue;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-family: 'Source Code Pro', serif;
  font-size: 1.2em;
}

.gh-btn, .li-btn, .resume-btn, .contact-btn {
  transition: 0.5s;
}

.gh-btn:hover, .li-btn:hover, .resume-btn:hover, .contact-btn:hover {
  color: #fff;
}

.gh-btn {
  background-color: #540D6E;
}

.gh-btn:hover {
  background-color: #7F4A93;
}

.gh-btn:active {
  background-color: #38064E;
  color: #AA86B7;
}

.li-btn {
  background-color: #2BA8D1;
}

.li-btn:hover {
  background-color: #60BEDD;
}

.li-btn:active {
  background-color: #198BBE;
  color: #95D4E8;
}

.resume-btn {
  background-color: #92D738;
}

.resume-btn:hover {
  background-color: #ADE16A;
}

.resume-btn:active {
  background-color: #73C522;
  color: #C9EB9C;
}

.contact-btn {
  background-color: #FF6F59;
}

.contact-btn:hover {
  background-color: #FF9383;
}

.contact-btn:active {
  background-color: #FF4F3C;
  color: #FFB7AC;
}

/*PROJECTS SECTION*/
.project-bg-wrapper {
  background-color: #efefef;
  width: 100%;
}

.project-inner-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

img {
  width: 100%;
}

.read-more {
  font-family: 'Scada', sans-serif;
  font-size: 1.2em;
  float: right;
  text-decoration: none;
}

.small-title, .call-to-action {
  font-family: 'Scada', sans-serif;
  font-size: 1.8em;
  margin-top: 0px;
}

/*ABOUT ME*/
.about-me-outer {
  background-color: #333;
  padding: 60px 0px;
}

.about-me-inner {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.rj-headshot {
  margin-bottom: 30px;
}

.bio-text {
  color: #fff;
}

.about-me, .call-to-action {
  color: #fff;
}

/*FOOTER*/
/* these three make the footer stick...*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  flex: 1 0 auto;
}

footer {
  background-color: #111;
  padding: 60px 0px;
  text-align: center;
}

.message-me {
  padding: 20px 40px;
  background-color: #fff;
  color: #FF6F59;
  text-decoration: none;
  font-family: 'Source Code Pro', serif;
  font-size: 1.2em;
  transition: 0.5s;
}

.message-me:hover {
  background-color: #FF6F59;
  color: #fff;
}

.message-me:active {
  background-color: #FF4F3C;
}


@media (min-width:660px) {
  .welcome-buttons {
    max-width: 400px;
    margin: 0 auto;
  }

  .about-me-inner {
    flex-direction: row;
  }
  .rj-headshot {
    flex: 1;
    margin-right: 30px;
  }
  .bio-text {
    flex: 2;
  }
}

@media (min-width:1200px) {
  .welcome-buttons {
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
  }
  .button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
